.display-word {
    font-weight: bolder;
    font-size: 30px;
    font-family: 'MyScriptFont'; 
}

@media screen and (max-width: 800px) {
  .display-word {
    font-size: 25px;
  }
}

@media screen and (max-width: 444px) {
  .display-word {
    font-size: 12px;
  }
}

@media screen and (min-width: 445px) and (max-width: 799px) {
  .display-word {
    font-size: 17px;
  }
}